@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: black;
    background-image: url(assets/bg.jpg);
    background-attachment:fixed;
    background-position:center center;
    font-family: 'Roboto';
    overflow: hidden;   
}

p {
    padding-left: 100px;
    padding-right: 100px;
}

.credit {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.texte {
    color: #ffc909;
    line-height: 1.5em;
    text-align: justify;
    font-weight: bold;
    position: relative; 
    transform: perspective(250px) rotateX(20deg);
}

h1, h2 {
    text-align: center;
    color: #5cc6d4;
}

