@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: black;
    background-image: url(assets/bg.jpg);
    font-family: 'Roboto';
    background-attachment:fixed;
    background-position:center center;
    overflow: hidden;   
}


.credit {
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.texte {
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    text-align: justify;
    font-weight: bold;
    position: relative;
}

h1, h2 {
    text-align: center;
    color: #5cc6d4;
}

@keyframes scroll {
    
}
